// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700,0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

// Variables
@import './variables';
@import './radio';

body {
    font-family: 'Poppins', sans-serif;
}

.color-text {
    color: #54565b
}


section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;

    .logo {
        max-width: 231px;
        width: auto;
    }

    .tlo {
        font-family: 'Kalam', cursive;
        font-weight: 700;
        color: white;
        font-size: 26px;

        @media screen and (min-width: 768px) {
            font-size: 30px;
        }
        @media screen and (min-width: 992px) {
            font-size: 38px;
            width: 90%;
        }
    }

    .info {
        font-size: 16px;

        @media screen and (min-width: 768px) {
            font-size: 20px;
        }
        @media screen and (min-width: 992px) {
            font-size: 24px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 18px;
        }
        @media screen and (min-width: 1366px) {
            font-size: 24px;
        }
    }


    .card {
        background-color: #f5831f;
        border-radius: 15px;
        border: none;
        color: white;

        .card-header {
            border: none;
            background-color: transparent;
        }

        h3 {
            font-weight: 600;
            font-size: 2em;
            line-height: 1.5;
        }

        label.col-form-label {
            font-size: 16px;
            line-height: 1.8;

            @media screen and (min-width: 768px) {
                font-size: 18px;
            }
            @media screen and (min-width: 1200px) {
                font-size: 20px;
            }
        }

        input {
            background-color: transparent !important;
            border: none !important;
            border-bottom: 2px solid white !important;
            border-radius: 0px;
            color: white !important;
            box-shadow: none !important;
        }

        .btn-white {
            background-color: white;
            border: none !important;
            box-shadow: none !important;
            border-radius: 10px;
            color: #242424;

            font-size: 16px;

            @media screen and (min-width: 768px) {
                font-size: 20px;
            }
        }
    }
}
