@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;

0,400;0,500;0,600;0,700,0,800;1,700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap);.was-validated .checkbox-tools:not(:checked) + label {
  background-color: #bd0000c9;
}

[type=radio]:checked,
[type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding: 5px;
  width: 45px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  transition: all 300ms linear;
  font-weight: 600;
}

.checkbox-tools:not(:checked) + label {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.checkbox-tools:checked + label {
  background-color: white;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-tools:not(:checked) + label:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: white;
  z-index: -1;
}

.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil {
  font-size: 24px;
  line-height: 24px;
  display: block;
  padding-bottom: 10px;
}

body {
  font-family: "Poppins", sans-serif;
}

.color-text {
  color: #54565b;
}

section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

section .logo {
  max-width: 231px;
  width: auto;
}

section .tlo {
  font-family: "Kalam", cursive;
  font-weight: 700;
  color: white;
  font-size: 38px;
}

@media screen and (min-width: 768px) {
  section .tlo {
    font-size: 40px;
  }
}

@media screen and (min-width: 992px) {
  section .tlo {
    font-size: 50px;
    width: 90%;
  }
}

section .info {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  section .info {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  section .info {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  section .info {
    font-size: 18px;
  }
}

@media screen and (min-width: 1366px) {
  section .info {
    font-size: 24px;
  }
}

section .card {
  background-color: #f5831f;
  border-radius: 15px;
  border: none;
  color: white;
}

section .card .card-header {
  border: none;
  background-color: transparent;
}

section .card h3 {
  font-weight: 600;
  font-size: 2em;
  line-height: 1.5;
}

section .card label.col-form-label {
  font-size: 16px;
  line-height: 1.8;
}

@media screen and (min-width: 768px) {
  section .card label.col-form-label {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  section .card label.col-form-label {
    font-size: 20px;
  }
}

section .card input {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 2px solid white !important;
  border-radius: 0px;
  color: white !important;
  box-shadow: none !important;
}

section .card .btn-white {
  background-color: white;
  border: none !important;
  box-shadow: none !important;
  border-radius: 10px;
  color: #242424;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  section .card .btn-white {
    font-size: 20px;
  }
}

